@import "tailwindcss";

@theme {
  --color-brand-50: #f7fee7;
  --color-brand-100: #ecfccb;
  --color-brand-200: #d9f99d;
  --color-brand-300: #bef264;
  --color-brand-400: #a3e635;
  --color-brand-500: #84cc16;
  --color-brand-600: #65a30d;
  --color-brand-700: #4d7c0f;
  --color-brand-800: #3f6212;
  --color-brand-900: #365314;
}

body {
  @apply bg-neutral-950 text-neutral-50;
}
